.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: monospace;
  text-transform: unset;
}

ul,
ol {
  list-style-type: none !important;
}

#cover {
  position: absolute;
  height: 100%;
  padding: 0;
}

#logo-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
