/* BK FONT STYLING */

@font-face {
  font-family: blockpro;
  src: url("../fonts/blockpropluscon-webfont.ttf");
}

@font-face {
  font-family: barlow;
  src: url("../fonts/barlow-v4-latin-regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: barlow;
  src: url("../fonts/barlow-v4-latin-700.ttf");
  font-weight: bold;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: blockpro;
  text-transform: unset;
}

body {
  font-family: barlow;
}

#bklogo {
  width: 100px;
  height: 100px;
  margin: 0;
}

.meet-the-team {
  font-family: blockpro;
  font-size: 16pt;
  display: flex;
  place-content: center;
}

.meet-the-team img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.team-member {
  display: grid;
  place-items: center;
}

.name {
  text-transform: uppercase;
}

.role {
  font-family: barlow;
  font-size: 12pt;
  max-width: 170px;
}

tbody {
  font-family: barlow;
  font-size: 24pt;
}

.user-stories {
  margin: 0 0 0 2rem;
}

.user-stories p {
  font-family: barlow;
  font-size: 24pt;
  text-align: center;
  margin: 0 0 0 2rem;
  padding: 1rem;
}

.tech-used li {
  font-family: barlow;
}

.keytakeaways-list {
  font-family: barlow;
  font-size: 24pt;
  margin: 0 0 0 5rem;
  max-width: 80rem;
}
.keytakeaways-list li {
  margin: 1rem 0 0 0;
  list-style: square;
}

.focus-areas {
  font-family: barlow;
  font-size: 24pt;
}

.focus-areas li {
  margin: 1rem 0 0 0;
}

li {
  font-family: barlow;
  font-size: 24pt;
  margin: 1rem 0 0 0;
}

.click-tracking {
  font-family: barlow;
  font-size: 24pt;
}

#keylogo {
  width: 300px;

  object-fit: cover;
}

#teampic {
  width: 1000px;
  object-fit: cover;
}
