@font-face {
  font-family: sofia_regular;
  src: url("../fonts/sofia_pro_regular.otf");
}

@font-face {
  font-family: sofia_bold;
  src: url("../fonts/sofia_pro_bold.otf");
}
@font-face {
  font-family: sofia_light;
  src: url("../fonts/sofia_pro_light.otf");
}
@font-face {
  font-family: greasepencil;
  src: url("../fonts/greasepencil.ttf");
}
body {
  font-family: sofia_light;
}

#canada {
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  background-image: url("../img/team_canada/banner.jpg");
  background-position: center;
  color: white;
  height: 7rem;
  width: 66rem;
  margin: 0 auto;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 0;
}

#canada h1 {
  color: whitesmoke;
  margin: 0;
}
.code-snippet h2 {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
}

code {
  font-size: 1rem;
  line-height: normal;
}
#user p {
  font-size: 2.5rem;
  font-family: sofia_regular;
}

#user h2 {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
}
#user h3 {
  font-size: 2.5rem;
  font-family: sofia_regular;
}

#user h4 {
  font-size: 2.5rem;
  font-family: sofia_regular;
}

.team {
  font-family: blockpro;
  font-size: 16pt;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin-top: 5rem;
}

.team img {
  width: 15rem;
  height: 15rem;
  min-width: 5rem;
  min-height: 5rem;
  object-fit: cover;
  border-radius: 60%;
}

.team-member {
  display: grid;
  place-items: center;
  flex: 0 17%;
}

#page2 {
  display: flex;
  align-items: center;
}

#page2 h2 {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
}

#page3,
#page4,
#page5 {
  height: 10rem;
  width: 70rem;
  margin: 0 auto;
  left: 10rem;
}

.category {
  font-family: sofia_bold;
  width: 11rem;
  vertical-align: middle;
}

#page5 .category {
  font-family: sofia_bold;
}
#page3,
#page4,
#page5 td {
  font-family: sofia_light;
  padding-bottom: 0;
  align-items: center;
}

.tables td {
  padding: 0;
}
#subject {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
}
.role {
  font-family: sofia_light;
}
.name {
  font-family: sofia_bold;
}
#contribute h2 {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
}
#key h2 {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
}

#website h2 {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
}

#iframe {
  z-index: 10;
}

#tech h2 {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
}

#tech li {
  font-family: sofia_light;
}

#code h2 {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
}

.keytakeaways-list {
  font-family: sofia_light;
  font-size: 20pt;
  margin: 0 0 0 5rem;
  max-width: 80rem;
}
.keytakeaways-list li {
  margin: 0;
  list-style-type: none;
}

.name {
  font-family: sofia_bold;
}

.did {
  font-family: sofia_light;
  text-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.4);
}

#outro h2 {
  font-family: greasepencil;
  color: rgb(200, 16, 46);
  font-size: 4rem;
}

#outro h2 a {
  text-decoration: none;
  color: gray;
}
